* {
    box-sizing: border-box;
}

body {
    background: #f69a73;
    font-family: 'Roboto', sans-serif;
}

.filter {
    position: relative;
    max-width: 400px;
    margin: 50px auto 0;
    background: white;
    border-radius: 30px;
    text-align: center;
}

.filter__form {
    padding: 50px;
}

.filter__form input,
.filter__form textarea {
    display: block;
    width: 100%;
    padding: 5px 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.filter__form input,
.filter__form textarea:focus {
    outline: none;
}

.filter__form .btn {
    margin-top: 20px;
    width: 100%;
    background: #fd773d;
    padding: 15px;
    border-radius: 5px; 
    border: none;
    color: white;
    font-size: 18px;
}

.filter__form textarea {
    resize: none;
}

.filter__checkbox {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

label {
    width: 170%;
    padding-left: 32px;
    color: #707981;
}

input[type="checkbox"] {
    width: 245px;
    height: 18px;
    margin: 0;
}

.filter__form h2 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
}